header .container {
  flex-direction: column;
}

.header__data {
  width: 100%;
  margin: 20px 0;
  flex-direction: column;
  align-items: flex-start;
}

.header__data_item {
  margin: 10px 0;
}

.main-image .getAdvice {
  bottom: 5px;
}

.service__item_par {
  padding: 0;
}

.service__item_text.margin_left {
  margin-left: 0;
}

.main-image .getAdvice__input {
  background: #fff;
}

.section__title h2 {
  padding: 0;
}

.advantages__items {
  justify-content: space-around;
}

.catalog__items {
  justify-content: space-around;
}

.content__img {
  position: static;
  margin: 0 auto;
}

.content__list li {
  margin-left: 30px;
}

.service__item {
  flex-direction: column;
  text-align: center;
}

.service__item_text {
  margin-top: 40px;
}

.show__items {
  flex-direction: column;
  align-items: center;
}

.map__address {
  position: static;
}

.show__item {
  margin-bottom: 20px;
}

.show__item_signin {
  margin-bottom: 20px;
}

.aboutUs__content {
  flex-direction: column;
}

.aboutUs__img {
  justify-content: space-around;
  margin: 0;
}

.signinShow {
  padding: 0;
}

.signinShow .container {
  flex-direction: column;
}

.signinShow__title {
  margin-bottom: 20px;
}

.map {
  position: relative;
  width: 100%;
  max-height: 1000px;
}

.content__list {
  width: 100%;
}

.map .container {
  position: static;
}

.invitation {
  margin: 0;
}

.service__text {
  margin: 0;
}

.service__item {
  margin: 0 0 10px 0;
}

.service__item_title {
  margin-bottom: 10px;
}

.catalog__subtitle {
  margin-bottom: 20px;
}

.show .section__title {
  margin: 0;
}

.section__title {
  /* height: 100px !important; */
  margin: 20px 0;
}

.comparison__table table {
  margin-bottom: 30px;
}



.points__img,
.points__img2 {
  display: none;
}